# Development
*.map
.circleci/
.editorconfig
.eslintcache
.eslintrc*
.gitignore
.github/
.husky/
.travis.yml
biome.jsonc
commitlint.config.ts
gulpfile.js
lefthook.toml
package-lock.json
rollup.config.js
src/
tools/
tsconfig.json
tsconfig.tsbuildinfo
tsdown.config.ts
tslint.json
types/
webpack.config.js

# Package managers
node_modules/
npm-debug.log*
package-lock.json
vendor/
yarn-error.log
yarn.lock

# Visual Studio Code
**/**.vsix
.vscode-test/**
.vscode/**

# Project specific
resources/logo.svg
todo.md
